.card{
    max-width: 258px;
}

.card-title{
    font-size: 20px;
line-height: 24px;
color: #373F55;
}
.card-desc{
    font-size: 16px;
line-height: 20px;

color: #464649;
}
.duration{
    font-size: 13px;
line-height: 15px;

color: #888EA0;
}