.card{
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  border-radius: 34px;
  overflow: hidden;
}
.daily-card{
  box-shadow: 4px 4px 46px rgba(10, 34, 67, 0.07);
}
.card-image{
  margin: 0px;
}
.card-image img{
  height: 173px;
}
.card-body{
  flex-grow: 1;
  margin: 23px 18px 8px;
}
.card-title{
  font-size: 20px;
  line-height: 24px;
  margin-top: 13px;
  color: #373F55;
  margin: 0;
  margin-bottom: 8px;
}
.card-desc{
  font-size: 16px;
  line-height: 20px;
  color: #464649;
  margin: 0;
}

.card-footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 8px 18px 28px;
}
.duration{
  font-size: 13px;
  line-height: 15px;
  color: #888EA0;
  margin: 0px;
}
.price{
  font-size: 30px;
  line-height: 36px;
  color: #373F55;
}

.card-slide{
  background-color: #FFFFFF;
  margin: 0;
  position: relative;
  border-radius: 34px;
  padding: 22px 24px;
  box-shadow: 4px 4px 46px rgba(10, 34, 67, 0.07);
}
.card-info{
  display:flex;
  
}

.info{
  margin-left: 20px;
}

.card-top{
  margin-bottom: 20px;
}
.name{
  margin: 0;
  font-size: 19px;
  line-height: 26px;
  color: #000000;
}
.city{
  font-size: 13px;
line-height: 18px;
margin: 0;
margin-top: 1px;
color: #888EA0;

}
.commit{
  font-size: 14px;
line-height: 19px;
color: #000000;
margin-bottom: 24px;
}
.card-end{
 display: flex;
 justify-content: flex-end;
}
.card-link{
  font-size: 14px;
  line-height: 20px;
  text-decoration-line: underline;
  color: #0F2D47;
}
@media(min-width:320px){
  .card-body{
    margin: 20px 16px 8px;
  }
  .card-title{
    font-size: 16px;
    line-height: 20px;
  }
  .card-desc{
    font-size: 14px;
    line-height: 18px;
  }
  .star-desc{
    font-size: 13px;
    line-height: 15px;
  }
  .duration{
    font-size: 13px;
    line-height: 15px;
    
  }
  .price{
    font-size: 23px;
    line-height: 29px;
    
  }
  .star-slide{
    position: static;
    display: flex;
  }
}
@media(min-width:480px){
  .raiting-reviews{
    font-size: 16px;
    position: absolute;
    top: 28px;
    right: 22px;
  }
}
@media(min-width:640px){
  .card-body{
    flex-grow: 1;
    margin: 23px 18px 8px;
  }
  .card-title{
    font-size: 20px;
    line-height: 24px;
    margin-top: 13px;
  }
  .card-desc{
    font-size: 16px;
    line-height: 20px;
    
  }
  
  .star-desc{
    font-size: 13px;
    line-height: 15px;
    
  }
  .duration{
    font-size: 13px;
    line-height: 15px;
    
  }
  .price{
    font-size: 30px;
    line-height: 36px;
    
  }
}
.card-slide{
  position: relative;
}
.star{
display: flex;
align-items: center;
margin-bottom: 13px;

}
.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: left;
  margin-right: 10px;
  
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 0.8em;
  font-size: 24px;
  color: #F6A326;
}
.rating > span:hover,
.rating > span:hover ~ span {
  color: transparent;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
   left: 0; 
   color: #F6A326;
   border-radius: 0.4px;
}
.raiting-reviews > span{
  font-size: 16px;
  color: #F6A326;
}
