.form-control {
    margin-bottom: 24px;
    position: relative;
  }
  .label{
    font-size: 14px;
    line-height: 16px;
    color: #888EA0;
    
  }
  .input,
  .select,
  .textarea {
      display: inline-block;
    width: 100%;
    border: 1px solid #F2F7FF;
    padding: 10px 24px;
    color: #373F55;
    margin: 14px 0 0 0 ;
    border-radius: 133px;
    font-size: inherit;
    background-color: #F2F7FF;

  }
  .input,
  .select {
    height: 45px;
  }
  .select {
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-right: 20px;
    background-image: url(data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2224%22%20height%3D%2216%22%20viewBox%3D%220%200%2024%2016%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22%23666%22%20points%3D%2212%201%209%206%2015%206%22%20%2F%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22%23666%22%20points%3D%2212%2013%209%208%2015%208%22%20%2F%3E%0A%3C%2Fsvg%3E%0A);
    background-repeat: no-repeat;
    background-position: 100% 50%;
  }
  .input:focus,
  .select:focus,
  .textarea:focus {
    outline: none;
    background-color: #fff;
    color: #666666;
    border-color: #e5e5e5;
  }
  
  .input:disabled,
  .select:disabled,
  .textarea:disabled {
    background-color: #f8f8f8;
    color: #999999;
    border-color: #999999;
  }
 
  