.form-control {
    margin-bottom: 24px;
    position: relative;
  }
  .label{
    font-size: 14px;
    line-height: 16px;
    color: #888EA0;
    
  }
  .form-subscribe{
    display: flex;
    
  }
  .input,
  .select,
  .textarea {
      display: inline-block;
    width: 100%;
    border: 1px solid #F2F7FF;
    padding: 10px 24px;
    color: #373F55;
    margin: 14px 0 0 0 ;
    border-radius: 133px;
    font-size: inherit;
    background-color: #F2F7FF;
    
  }
  .input,
  .select {
    height: 52px;
  }
  .select {
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-right: 20px;
    background-image: url(https://raw.githubusercontent.com/dtimonovskij/The-Nort/00f008c52a33211778a3455fe9e5e048c8d9a20a/images/Polygon.svg);
    background-repeat: no-repeat;
    background-position: 90% 50%;
  }
  .input:focus,
  .select:focus,
  .textarea:focus {
    outline: none;
    background-color: #fff;
    color: #666666;
    border-color: #e5e5e5;
  }
  
  .input:disabled,
  .select:disabled,
  .textarea:disabled {
    background-color: #f8f8f8;
    color: #999999;
    border-color: #999999;
  }
  .input-footer{
  max-width: 591px;
  display: in;
  }
  