.slider{
    margin: 0 65;
    position: relative; 
}
.slider-item{
    margin: 0 18px;
}
.card-slide{
    margin: 0 18px;
}
.slick-dotted.slick-slider {
    margin-bottom: 50px;
}

.slick-prev:before, .slick-next:before {
    color: transparent
}
.slick-prev,
.slick-next{
    background: url(https://dtimonovskij.github.io/The-Nort/images/left.svg);
    width: 46px;
    height: 46px;
    background-size: 138px 138px;
    background-position: 96px 96px;
    border-radius: 100px;
}
.slick-next{
    right: -30px;
    transform: rotate(180deg);
    margin-top: -15px;
    margin-right: -40px;
}
.slick-prev{
    
    margin-left: -40px;
}
.section-reviews .slick-track {
    padding: 45px 0;
}
.section-reviews .slick-next{
    position: absolute;
    margin-top: 130px;
    margin-right: -64px;
    bottom: 37px;
    right: 50%;
}
.section-reviews .slick-prev{
    position: absolute;
    margin-top: 153px;
    margin-left: -64px;
    bottom: 25px;
    left: 50%;
}
@media(min-width:320px){
    .slider{
        margin: 0 10px;
    }
   
    .slick-next{
        display: none;
        right: -5px;
        transform: rotate(180deg);
        margin-top: -15px;
        
    }
    .slick-prev{
        display: none;
        margin-left: -17px;
    }
}
@media(min-width:480px){
    .slider{
        margin: 0 30px;
    }
}
@media(min-width:640px){
    .slider{
        margin: 0 50px;
    }
}
@media(min-width:960px){
    .slider{
        margin: 0 65px;
    }
    .slick-next{
        right: -5px;
        
    }
    .slick-prev{
        margin-left: -17px;
    }
    
}